# ignore everything
*

# keep these
!*/

# files
!.gitignore
!install.sh

# folders

## nvim
!nvim/
!nvim/**
nvim/lazy-lock.json

## zsh
!zsh/
!zsh/**

## fish
!fish/
!fish/**
fish/config.local.fish

## git
!git/
!git/**

## tmux
!tmux/
!tmux/**
